<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AdaptiveConsole"
             type="AdaptiveConsole.Config.AdaptiveConsoleConfigHandler, AdaptiveConsole"/>
  </configSections>
  <AdaptiveConsole provider="TreeSurgeonConsoleApplication.TreeSurgeon, TreeSurgeonConsoleApplication"
                   contractRepository="TreeSurgeonConsoleApplication"/>
</configuration>